extends ../layout

block content
  div.container
    if name
      h1 Editing: #{name}
      hr
      if user && user.name === createdBy
        div.pull-right
          a(href='/course/#{id}', class='btn') Back to Course
        ul(class='nav nav-pills', role='tablist')
          li(role='presentation')
            a(href='/course/#{id}/edit') Exercises
          li(role='presentation', class='active')
            a(href='/course/#{id}/edit/details') Details
        hr
        div.row
          div.col-md-6.col-md-offset-3
            if error
              div.alert.alert-danger #{error}
            form(method='POST', action='/course/#{id}/edit/details', accept-charset='UTF-8', role='form', class='form')
              div.form-group
                label Name
                input(class='form-control', name='name', type='text')
              div.form-group
                label Description
                textarea(class='form-control', name='description', rows='3')
              input(class='btn btn-lg btn-primary btn-block', type='submit', value='Save')
          div.col-md-6.col-md-offset-3.delete-course   
            form(method='DELETE', action='/course/#{id}/edit/details', accept-charset='UTF-8', role='form', class='form')
              input(class='btn btn-lg btn-primary btn-block btn-danger', type='submit', value='Delete Course') 
      else
        div(class='alert alert-danger', role='alert') You are not permitted to edit this course.
    else
      div(class='alert alert-danger', role='alert') Course #{id} doesn't exist.