extends ../layout

block content
  div.container
    if name
      h1 Editing: #{name}
      hr
      if user && user.name === createdBy
        div.pull-right
          a(href='/course/#{id}', class='btn') Back to Course
        ul(class='nav nav-pills', role='tablist')
          li(role='presentation')
            a(href='/course/#{id}/edit') Exercises
          li(role='presentation', class='active')
            a(href='/course/#{id}/edit/details') Details
        hr
      else
        div(class='alert alert-danger', role='alert') You are not permitted to edit this course.
    else
      div(class='alert alert-danger', role='alert') Course #{id} doesn't exist.